* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #422;
    color: #ffe;
}

button {
    padding: 4px 10px;
    background-color: #555;
    border: 3px solid #aaa;
    color: #fff;
    font-family: monospace;
    font-size: 14pt;
}

input {
    width: 40px;
}
.colour {
    width: 30px;
    height: 30px;
}

.colour.selected {
    border: 2px dashed #fff;

}

canvas {
    cursor: none;
}

.colourlist {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

label {
    display: block;
    padding: 2px 0px;
}

label span {
    display: inline-block;
    width: 120px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.layout {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}